<div class="app-container">
  <div class="entry-form">
     <a><%= link_to '2016 ENTRY FORM', '#new_applicant_modal', 'data-toggle' => 'modal' %></a>
  </div>
  <div class="modal fade" id="new_applicant_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">2016 Mission San Jose Invitational Wrestling Tournament Application</h4>
        </div>
        <div class="modal-body">
          <%= render 'applicants/form', modal: true %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>