<div class="information">
  <p>
    ENTRY FEE
  </p>

  <p>
    <u>Full Teams</u>:   <br>$425 if paid in full by December 1, 2015 <br>
                  $450 by January 1, 2016 <br>
                  $500 after January 1, 2016 <br><br>

    <u>Individual Entries</u>:  <br>$40 per wrestler up to six entries by December 1, 2015<br>$50 per wrestler by January 1, 2016<br>
    $60 per wrestler after January 1, 2016 <br>
    <b>Seven or more entries pay full team price.</b><br><br>
  </p>

  <p>
    Team weigh-in priority on Friday morning Feb 5, will be in the order that entry fees are received.<br><br>
  </p>

  <p>
    <u>ENTERING THE TOURNAMENT</u>:<br>
    Official invitations will be sent by September 20, 2016.  Invitations are sent to the top 30 teams of the prior year plus selected teams who have historically supported the tournament.  If you do not receive a team invitation you may still be added to our waiting list by submitting the entry request form below.  We will notify you by Thanksgiving if we have space for your team.<br>
  </p>

  <p>
    Additional individual entries will be accepted for the 2016 tournament until the brackets are full.  Any MSJ medalist or section medalist from a previous year is also welcome regardless of whether his full team is invited.<br>
  </p>
<br>
  <p>
   Due to the size of the tournament and facilities limitations, we will give first priority to highly competitive teams and individuals with accomplished tournament records and fully paid entries.
  </p><br><br><br>

</div>